{% extends "base_clinic.html" %}
    {% block title %}{{block.super}} | Home {% endblock title %}
    {% block content %}
    <div class="referral">
        <dt>Clinic:{{object.clinic.clinic_name}}</dt>
        <dt>Date:{{object.clinic.clinic_date}}</dt>
        <dt>Doctor:{{object.clinic.user_id.username}}</dt>
    </div>
    <div class="referral">
        <dt>Details</dt>
        {{object.clinic.clinic_details}}
    </div>

    <br>

    <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal">
            Click to add patients
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Patients</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Patient Name</th>
                                <th>Service Requested</th>
                                <th>Date Requested</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for obj in object.patients %}
                                <td>{{obj.patient.firstname}} {{obj.patient.lastname}}</td>
                                <td>{{obj.service_requested}}</td>
                                <td>{{obj.date}}</td>
                                <td><a href="{% url 'clinic:add_patient' object.clinic.id obj.patient.id %}">Add to clinic </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            </div>
        </div>
        
        <br>
        <br>
    <div class="table-responsive">
        {% if object.clinic_patients %}
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Service Requested</th>
                    <th>Date Requested</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="referal-container">
                {% for obj in object.clinic_patients %}
                <tr>
                        <td>{{obj.clinic}} {{object.patient.lastname}}</td>
                        <td>{{obj.user}}</td>
                        <td>{{obj.patient}}</td>
                        <td><a href="#">Add to clinic </a></td>
                    </tr>
                {% comment %} <tr>
                    <td>{{obj.patient.firstname}} {{object.patient.lastname}}</td>
                    <td>{{obj.service_requested}}</td>
                    <td>{{obj.date}}</td>
                    <td><a href="{% url 'clinic:add_patient' object.clinic.id obj.patient.id %}">Add to clinic </a></td>
                </tr> {% endcomment %}
                {% endfor %}
            </tbody>
            </table>
            {% else %}
            No patients added yet 
             <!-- Button trigger modal -->
            {% endif %}
        </div>
    
{% endblock content %}
