{% extends "base_doctor.html" %}

    {% block script %}
    {% comment %} <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function(){
            var query = getParameterByName('q')
            var referList = [];
            var nextReferralUrl;

            function parseRefer(){
                if (referList == 0){
                    $("#referal-container").append(
                                "<tr>" +
                                "<td>" + "Not Found" + "</td>" +
                                "<td>" + "Not Found" + "</td>" +
                                "<td>" + "</td>" +
                                "<td>" + "</td>" +
                                "</tr>"   
                        )
                }else{
                $.each(referList, function(key,value){
                        var date = value.date
                        var patient = value.patient.firstname + ' ' +value.patient.lastname 
                        var service_requested = value.service_requested.service
                        var clinic = value.user_id
                        $("#referal-container").append(
                                "<tr>" +
                                "<td>" + date + "</td>" +
                                "<td>" + patient + "</td>" +
                                "<td>" + service_requested + "</td>" +
                                "<td>" + clinic + "</td>" +
                                "</tr>"   
                        )
                    })
                }
            }

            function fetchReferals(url){
                console.log("fetching...")
                var fetchUrl;
                if(!url){
                    fetchUrl = "/api/patients/referral/"
                }else{
                    fetchUrl = url
                }
                $.ajax({
                url:fetchUrl,
                data:{
                    'q':query
                },
                method:"GET",
                success:function(data){
                    referList = data.results
                    nextReferralUrl = data.next;
                    parseRefer()
                    
                },
                error: function(data){
                    console.log("error");
                    console.log(data);
                }
                })
            }

            fetchReferals()

            $('#load-more').click("click", function(event){
                event.preventDefault()
                if (nextReferralUrl){
                    fetchReferals(nextReferralUrl)
                }          
            })

            $("#refer-form").submit(function(event){
                event.preventDefault()
                var this_ = $(this)
                var formData = this_.serializeArray();

                $.ajax({
                    url:"/api/referral/create/",
                    data: formData,
                    method: "POST",
                    success:function(data){
                        console.log(data)
                        fetchReferals()
                        
                    },
                    error: function(data){
                        console.log("error");
                        console.log(formData);
                        console.log(data.statusText);
                    }
                })
            })
        });  </script> {% endcomment %}

  
    {% endblock script %}

    {% block title %}{{block.super}} | Home {% endblock title %}
    {% block content %}
    {% include "doctor_referral/search_form.html" %}</br>
    <!-- Button trigger modal -->
    <form action="create/">
    <button class="btn" id='load-more' href='create/' >New Clinic Date</button>
    </form>
    <h2>My Clinics</h2>
    <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                <th>Clinic Name</th>
                <th>Date</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody id="referal-container">
                {% for object in object_list %}
                <tr>
                    <td>{{object.clinic_name}}</td>
                    <td>{{object.clinic_date}}</td>
                    <td><a href="{% url 'clinic:clinicddetail' object.id %}">view</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

    {% endblock content %}