{% extends "base_doctor" %}
    {% block title %}{{block.super}} | Home {% endblock title %}
    {% block content %}
    <table class="table table-bordered">
    <tbody>
        <tr>
        <th scope="row">Patient ID</th>
        <td>{{object.patient_id}}</td>
        </tr>
        <tr>
        <th scope="row">Doctor ID</th>
        <td>{{object.doctor_id}}</td>
        </tr>
        <tr>
        <th scope="row">Entred By</th>
        <td>{{object.user_id}}</td>
        </tr>
        <tr>
        <th scope="row">Booked Date</th>
        <td colspan="2">{{object.booked_date}}</td>
        </tr>
        <tr>
        <th scope="row">Group</th>
        <td colspan="2">{{object.group}}</td>
        </tr>
        <tr>
        <th scope="row">Comments</th>
        <td colspan="2">{{object.comments}}</td>
        </tr>
    </tbody>
    </table>
        
        
{% endblock content %}