{% extends "base_doctor.html" %}

{% load crispy_forms_tags %}

    {% block title %}{{block.super}} | Home {% endblock title %}
    {% block content %}
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <h1>Register</h1>
        <div class="col-sm-8 col-sm-offset-2">
            <form class="form-contact" action="" method="POST"> {% csrf_token %} 
            {{form|crispy}}
            <input type="submit" value="Submit"  class="btn btn-primary">
            </form>
        </div>
    </main>

{% endblock content %}