{% extends "base.html" %}
    {% block title %}{{block.super}} | Home {% endblock title %}
    {% block content %}
    <section class="row text-center placeholders">
            <div class="col-6 col-sm-4 placeholder">
              <a href="{% url 'referral:list' %}">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Refferal</h4>
              </a>
            </div>
            <div class="col-6 col-sm-4 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Patients</h4>
            </div>
            <div class="col-6 col-sm-4 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Settings</h4>
            </div>
          </section>

    {% endblock content %}